<div class="splash">
     <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center">
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudIcon Color="Color.Primary" Size="Size.Large" Icon="@Icons.Material.TwoTone.Cyclone" />
             <MudText Color="Color.Primary" Typo="Typo.h6">K7</MudText>
        </MudStack>
     </MudStack>
</div>