@using K7.Clients.Shared.Domain.Interfaces
@inject IJSRuntime JSRuntime
@inject IPlayerService PlayerService
@inject IDeviceService DeviceService

@if (PlayerService.IsVisible)
{
    <VideoPlayerControlsOverlay />
    @if (DeviceService.GetOperatingSystem() == Server.Domain.Enums.OperatingSystem.Browser)
    {
        <div class="video-container" @ref="_videoContainer">
            <video id="video-player" class="video-js" @ref="_player">
                <source src="@SourceUri" type="@SourceMimeType" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>

        </div>
    }
}
@* 
Sources
- url
- type

Poster
Title
Thumbnails VTT

Tracks? *@
