@using K7.Server.Infrastructure.Database.Context.Identity
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager

@if (externalLogins.Length > 0)
{
    <form class="form-horizontal" action="Account/PerformExternalLogin" method="post" style="width: 100%;">
        <AntiforgeryToken />
        <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
        <div class="auth-form-stack">
            @foreach (var provider in externalLogins)
            {
                <button class="k7-btn k7-btn--outlined" style="width:100%;" name="provider" value="@provider.Name" type="submit">
                    @provider.DisplayName
                </button>
            }
        </div>
    </form>
}

@code {
    private AuthenticationScheme[] externalLogins = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();
    }
}
