@inherits LayoutComponentBase
@layout K7.Clients.Shared.UI.Layout.EmptyLayout

@inject IStringLocalizer<ManageLayout> L

<div class="manage-layout">
    <h1>@L["Title"]</h1>
    <div class="manage-grid">
        <div>
            <h2>@L["Subtitle"]</h2>
            <ManageNavMenu />
        </div>
        <div>
            @Body
        </div>
    </div>
</div>
