@inject IStringLocalizer<ManageNavMenu> L

<nav class="manage-nav">
    <a href="Account/Manage/TwoFactorAuthentication" class="manage-nav-link"><i class="ph ph-lock-key"></i> @L["TwoFactor"]</a>
</nav>
