<!DOCTYPE html>
<html lang="en" data-theme="default-dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>K7 Design System</title>
    <link rel="stylesheet" href="_content/K7.Clients.Shared.UI/app.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="K7.Clients.DesignSystem.styles.css" />
    <link rel="stylesheet" href="https://vjs.zencdn.net/8.21.1/video-js.min.css" />
    <script src="_content/K7.Clients.Shared.UI/js/theme.js"></script>
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/K7.Clients.Shared.UI/dist/embla-carousel/embla-carousel.umd.js"></script>
    <script src="_content/K7.Clients.Shared.UI/lib/js-spatial-navigation/spatial_navigation.js"></script>
    <script src="_content/K7.Clients.Shared.UI/js/navigation.js"></script>
    <script src="_content/K7.Clients.Shared.UI/dist/qrcodejs/qrcode.min.js"></script>
    <script src="_content/K7.Clients.Shared.UI/js/qrcode.js"></script>
    <script src="https://vjs.zencdn.net/8.21.1/video.min.js"></script>
    <script src="js/videoplayer.js"></script>
    <script src="js/demoplayer.js"></script>
</body>
</html>
