@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject ThemeService ThemeService
@inject K7.Clients.Shared.Services.K7HubClient K7HubClient
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudThemeProvider Theme="@ThemeService.ThemeWrapper.Theme" IsDarkMode=@ThemeService.DarkModeEnabled />
<MudPopoverProvider />
<MudDialogProvider />
<VideoPlayer />
<AudioPlayer />
<MiniMusicPlayer />
<FullScreenMusicPlayer />

<MudBreakpointProvider>
    <MudHidden Breakpoint="Breakpoint.SmAndUp">
        <MudLayout Class="mobile-layout">
            <MudMainContent>
                @Body
            </MudMainContent>
            <MobileFooter />
        </MudLayout>
    </MudHidden>

    <MudHidden Breakpoint="Breakpoint.Xs">
        <MudLayout>
            <Sidebar />
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
    </MudHidden>
</MudBreakpointProvider>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>