@inject IJSRuntime JSRuntime

<MudStack>
    <div class="splide" aria-label="Basic Structure Example" @ref=_splide>
        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="ml-4">
            <MudText Typo="Typo.h6">@Title</MudText>
            <div class="splide__arrows">
                <MudStack Row="true">
                    <MudIconButton Icon="@Icons.Material.Filled.NavigateBefore" Class="py-0 pr-3 splide__arrow splide__arrow--prev" />
                    <MudIconButton Icon="@Icons.Material.Filled.NavigateNext" Class="py-0 pl-3 splide__arrow splide__arrow--next" />
                </MudStack>
            </div>
        </MudStack>        
        <div class="splide__track">
            <ul class="splide__list">
                @ChildContent
            </ul>
        </div>
    </div>
</MudStack>

<script>
    var HorizontalScrollableStack = HorizontalScrollableStack || {};
    HorizontalScrollableStack.Init = function (element, perPage) {
        var splide = new Splide(element, {
            perMove: 1,
            rewind: true,
            rewindByDrag: false,
            drag: 'free',
            snap: true,
            wheel: false,
            autoWidth: true,
            gap: '16px',
            padding: '16px',
            lazyLoad: 'nearby',
            paginationKeyboard: true,
            keyboard: 'focused'
        });

        splide.on('overflow', function (isOverflow) {
            splide.options = {
                arrows: isOverflow,
                pagination: isOverflow,
                drag: isOverflow,
            };
        });

        // splide.on('inactive', function (slide) {
        //     slide.slide.querySelector('.media-item-container').classList.remove('active');
        // });

        // splide.on('active', function (slide) {
        //     slide.slide.querySelector('.media-item-container').classList.add('active');
        // });

        splide.mount();
    };
</script>