.media-item-container {
    position: relative;
    display: flex;
    align-items: end;
    width: 200px;
}

    .media-item-container:hover .media-item-progress-bar {
        display: none;
    }

    .media-item-container:hover .media-item-overlay {
        display: flex;
    }

    .media-item-container:hover .media-item-watched {
        display: flex;
        background-color: var(--mud-palette-overlay-dark);
    }

.mud-badge.mud-badge-top.right.mud-badge-overlap {
    inset: auto auto calc(100% - 24px) calc(100% - 24px) !important;
}

.media-item-watched {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--mud-palette-overlay-dark);
    display: flex;
    border-radius: 0px 0px 0px 5px;
}

.media-item-progress-bar {
    width: 100%;
    position:absolute;
}

.media-item-overlay {
    background-color: var(--mud-palette-overlay-dark);
    position: absolute;
    border: 1px solid var(--mud-palette-primary);
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.media-item-overlay-more {
    position: absolute;
    top: 0;
    right: 0;
}

.media-item-text {
    width: 200px;
}

    .media-item-text .mud-typography {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 200px;
    }

    .media-item-text.mud-typography {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 200px;
    }

:root {
    --media-item-container-width-sm: 95vw;
}

@media(max-width:600px) {
    .media-item-container {
        width: 100px;
    }
}