@page "/my-space/history"
@layout MySpaceLayout
@using K7.Clients.Shared.UI.Pages.Stats
@inject IStringLocalizer<PlaybackHistory> L

<PageTitle>@L["PageTitle"]</PageTitle>
<div class="full-bleed-page">
    <PlaybackHistory />
</div>
