@using K7.Clients.Shared.UI.Components.Explore
@using K7.Clients.Shared.UI.Pages
@implements IDisposable
@inject IExploreGroupStore ExploreGroupStore
@inject IStringLocalizer<ExplorePage> L

@if (_loading)
{
    <div class="explore-page page-scrollable">
        <div class="d-flex flex-col pa-16">
            <K7Spinner />
        </div>
    </div>
}
else if (_group is null)
{
    <div class="explore-page page-scrollable">
        <K7EmptyState Title="@L["NoLibraryGroup"]" />
    </div>
}
else
{
    <div class="@_pageClass" data-initial-focus="@_initialFocus">
        <CascadingValue Value="_focusNavigation" IsFixed="true">
            <ExploreLibraryGroupView Group="_group" IsTv="_isTv" />
        </CascadingValue>
    </div>
}
