.media-item-container {
    position: relative;
    display: flex;
    align-items: end;
}

    .media-item-container:hover .media-item-progress-bar {
        display: none;
    }

    .media-item-container:hover .media-item-overlay {
        display: flex;
    }


.media-item-progress-bar {
    width: 100%;
    position:absolute;
}

.media-item-overlay {
    background-color: var(--mud-palette-overlay-dark);
    position: absolute;
    border: 1px solid var(--mud-palette-primary);
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}