@page "/music/radio"
@using K7.Clients.Shared.UI.Components.Music
@inject IStringLocalizer<MusicRadio> L

<PageTitle>@L["PageTitle"]</PageTitle>

<div class="page-scrollable">
    <div class="d-flex pa-4" style="width: 100%">
        <h5>@L["PageTitle"]</h5>
    </div>
    <div class="pa-4">
        <MusicRadioPresets />
    </div>
</div>
