<div class="d-flex flex-col">
    <div data-carousel @ref="_root">
        <div class="d-flex justify-between ml-4">
            @if (Skeleton)
            {
                <K7Skeleton Shape="text" Width="330px" />
            }
            else
            {
                <h6>@Title</h6>
            }
            <div class="d-flex">
                <button type="button" class="k7-icon-btn py-0 pr-3" aria-hidden="true" data-carousel-prev tabindex="-1"><i class="ph ph-caret-left"></i></button>
                <button type="button" class="k7-icon-btn py-0 pl-3" aria-hidden="true" data-carousel-next tabindex="-1"><i class="ph ph-caret-right"></i></button>
            </div>
        </div>
        <div class="carousel-viewport" data-carousel-viewport>
            <div class="carousel-container">
                @ChildContent
            </div>
        </div>
    </div>
</div>
