@namespace K7.Clients.Shared.UI.Components

<div class="k7-alert k7-alert--@Severity.ToString().ToLower() @Class" role="alert">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <K7Icon Icon="@Icon" Size="md" />
    }
    <div>@ChildContent</div>
</div>
