@namespace K7.Clients.Shared.UI.Components

<details class="k7-expansion @Class" style="@Style" open="@Expanded">
    <summary class="k7-expansion-header">
        <span>@if (TitleContent is not null) { @TitleContent } else { @Text }</span>
        <i class="ph ph-caret-down k7-expansion-icon"></i>
    </summary>
    <div class="k7-expansion-content">
        @ChildContent
    </div>
</details>
