@namespace K7.Clients.Shared.UI.Components

@if (_open)
{
    <div class="k7-backdrop" @onclick="Close" @onclick:stopPropagation="true"></div>
}
<div class="k7-menu @(_open ? "k7-menu--open" : "") @Class" @ref="_root">
    <div class="k7-menu-activator" @onclick="Toggle" @onclick:stopPropagation="true">
        @ActivatorContent
    </div>
    <div class="k7-menu-dropdown" role="menu" @ref="_dropdown" @onclick:stopPropagation="true">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>
</div>
