@namespace K7.Clients.Shared.UI.Components

<div class="k7-progress @(Indeterminate ? "k7-progress--indeterminate" : "") @Class" style="@Style">
    <div class="k7-progress-bar" style="width: @(Indeterminate ? "50" : Value.ToString(System.Globalization.CultureInfo.InvariantCulture))%"></div>
</div>
