@namespace K7.Clients.Shared.UI.Components
@typeparam TValue
@implements IDisposable

<button type="button"
        class="k7-select-option focusable @(_isSelected ? "k7-select-option--selected" : "")"
        role="option"
        aria-selected="@_isSelected"
        @onclick="OnClick"
        @onclick:stopPropagation="true">
    @if (_isSelected)
    {
        <i class="ph ph-check"></i>
    }
    <span>@(ChildContent ?? (RenderFragment)(__builder => __builder.AddContent(0, _displayText)))</span>
</button>
