.person-text {
    max-width: 150px;
}

.personrole-item-link {
    display: flex;
    padding: 4px;
}

.personrole-item-link:focus-visible {
    outline: none !important;
}

.personrole-item-link:hover ::deep .k7-avatar,
.personrole-item-link:focus-visible ::deep .k7-avatar {
    outline: 2px solid var(--color-accent);
    outline-offset: 2px;
}

::deep .person-text:nth-child(1) {
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media(max-width:600px) {
    .person-text {
        max-width: 30vw;
    }

    ::deep .person-text:nth-child(1) {
        max-width: 30vw;
    }
}
