<div class="splash">
     <div class="d-flex flex-col">
        <div class="d-flex align-center">
            <K7Icon Color="primary" Size="lg" Name="hurricane" />
             <span class="text-h6 color-primary">K7</span>
        </div>
     </div>
</div>