.splash {
    background-color: var(--color-overlay);
    position: fixed;
    cursor: wait;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    z-index: 99;
}

@media (prefers-reduced-motion: no-preference) {
    .splash {
        transition: opacity ease-in-out 600ms;
    }
}
