@inject Microsoft.JSInterop.IJSRuntime JS

<div class="splash">
    <div class="splash-content">
        <div class="splash-animation" @ref="_animationContainer"></div>
        <span class="splash-title">K7</span>
    </div>
</div>