@inject IStringLocalizer<SubtitlePreview> L

<div class="subtitle-preview">
    <div class="subtitle-preview__scene">
        <span class="subtitle-preview__text"
              style="font-family: @FontFamilyCss; font-size: @FontSizePx; color: @FontColor; background-color: rgba(0, 0, 0, @BackgroundOpacity.ToString(System.Globalization.CultureInfo.InvariantCulture)); @TextShadowStyle">
            @L["SampleText"]
        </span>
    </div>
</div>
