<div class="vertical-carousel" @ref="_root">
    <div class="vertical-carousel__viewport" data-vcarousel-viewport>
        <div class="vertical-carousel__container">
            @ChildContent
        </div>
    </div>
</div>
