@page "/Account/ForgotPasswordConfirmation"

@inject IStringLocalizer<ForgotPasswordConfirmation> L

<PageTitle>@L["PageTitle"]</PageTitle>

<h2 class="auth-heading">@L["Title"]</h2>

<p>@L["Message"]</p>
