@page "/Account/Lockout"

@inject IStringLocalizer<Lockout> L

<PageTitle>@L["PageTitle"]</PageTitle>

<header>
    <h1 class="text-danger">@L["Title"]</h1>
    <p class="text-danger" role="alert">@L["Message"]</p>
</header>
