@page "/Account/ResetPasswordConfirmation"

@inject IStringLocalizer<ResetPasswordConfirmation> L

<PageTitle>@L["PageTitle"]</PageTitle>

<h1>@L["Title"]</h1>
<p role="alert">
    @L["Message"] <a class="mud-link mud-primary-text mud-link-underline-hover" href="Account/Login">@L["ClickToLogin"]</a>.
</p>
