@using K7.Clients.Shared.Helpers
@using K7.Clients.Shared.Interfaces
@using K7.Clients.Shared.Models
@using K7.Server.Domain.Enums
@using K7.Shared.Dtos.Entities.Medias
@using K7.Shared.Dtos.Requests
@inject IStringLocalizer<SonicPathDialog> L
@inject IMediaService MediaService
@inject IMusicIntelligenceClientService MusicIntelligence
@inject IK7ServerService ApiClient
@inject IAudioPlayerService Audio
@inject IK7Snackbar Snackbar
@inject IStringLocalizer<SharedResource> S

<div class="k7-dialog-content">
    <div class="d-flex flex-col gap-4 pa-4">
        <TrackSearchField Label="@L["StartTrack"]" SelectedTrack="_startTrack" SelectedTrackChanged="t => _startTrack = t" />
        <TrackSearchField Label="@L["EndTrack"]" SelectedTrack="_endTrack" SelectedTrackChanged="t => _endTrack = t" />

        <div class="d-flex gap-2 justify-end">
            <K7Button OnClick="Cancel" Variant="K7ButtonVariant.Text">@L["Cancel"]</K7Button>
            <K7Button OnClick="PlayAsync" Variant="K7ButtonVariant.Filled" Disabled="_startTrack is null || _endTrack is null || _loading">
                @if (_loading)
                {
                    <K7Spinner Size="16" />
                }
                else
                {
                    @L["Play"]
                }
            </K7Button>
        </div>
    </div>
</div>
