@inject ISyncPlayService SyncPlay

<div class="k7-dialog-content syncplay-chat-dialog">
    <SyncPlayChat />
</div>
<div class="k7-dialog-actions">
    <K7Button OnClick="Close">Close</K7Button>
</div>
