@namespace K7.Clients.Shared.UI.Components.Dialogs

<div class="k7-dialog-content trailer-dialog-content">
    <div class="trailer-dialog-frame">
        <iframe src="@_embedUrl"
                allow="autoplay; encrypted-media; picture-in-picture"
                allowfullscreen
                frameborder="0"
                class="trailer-dialog-iframe" />
    </div>
</div>

@code {
    [Parameter] public string TrailerKey { get; set; } = string.Empty;
    [Parameter] public string TrailerSite { get; set; } = "YouTube";

    private string _embedUrl => TrailerSite switch
    {
        "YouTube" => $"https://www.youtube-nocookie.com/embed/{TrailerKey}?autoplay=1",
        "Vimeo" => $"https://player.vimeo.com/video/{TrailerKey}?autoplay=1",
        _ => $"https://www.youtube-nocookie.com/embed/{TrailerKey}?autoplay=1"
    };
}
