@using K7.Shared.Dtos.Entities

<div class="k7-dialog-content">
        @if (_loading)
        {
            <K7ProgressBar Indeterminate="true" />
        }
        else
        {
            <p class="exclusions__hint">
                Decochez les librairies auxquelles l'utilisateur ne doit pas avoir acces.
            </p>
            @foreach (var group in _groups)
            {
                var libs = GetLibrariesForGroup(group).ToList();
                @if (libs.Count > 0)
                {
                    <span class="exclusions__group-title">@group.Title</span>
                    <K7CheckboxList TItem="LibraryDto"
                                    Items="libs"
                                    IsChecked="@(lib => !_excludedIds.Contains(lib.Id))"
                                    CheckedChanged="@(e => ToggleExclusion(e.Item.Id, !e.Checked))"
                                    ItemLabel="@(lib => lib.Title)" />
                }
            }
        }
    </div>
    <div class="k7-dialog-actions">
        <K7Button OnClick="Cancel">Annuler</K7Button>
        <K7Button Color="primary" Variant="filled" OnClick="Submit">Enregistrer</K7Button>
    </div>
