.library-table-title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.library-table-stars {
    display: flex;
    align-items: center;
    gap: 1px;
}

@media (max-width: 599.98px) {
    ::deep .browse-view-toolbar .k7-field {
        display: none;
    }
}
