<Router AppAssembly="@typeof(Utils.ISharedPagesPointer).Assembly">
    <Found Context="routeData">
        <CascadingAuthenticationState>
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated == true)
                    {
                        <div class="container">
                            <div class="d-flex flex-col">
                                <K7Icon Name="lock" Size="lg" Color="warning" />
                                <h5>Access denied</h5>
                                <p Color="secondary">You don't have permission to access this page.</p>
                                <K7Button Href="/" Variant="filled" Color="primary">Go to Home</K7Button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <RedirectToLogin />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </CascadingAuthenticationState>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>

@* TODO - Put in seperated file and rename class *@
<style>
    #preload {
        display: none;
    }
</style>
