@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Utils.ISharedPagesPointer).Assembly" NotFoundPage="typeof(NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    @* Preload only renders for WASM pages; nothing needed here *@
                </Authorizing>
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated == true)
                    {
                        <div class="container">
                            <div class="d-flex flex-col">
                                <K7Icon Name="lock"  IconSize="@K7IconSize.Lg" Color="warning" />
                                <h5>Access denied</h5>
                                <p Color="secondary">You don't have permission to access this page.</p>
                                <K7Button Href="/" Variant="filled" Color="primary">Go to Home</K7Button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <RedirectToLogin />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
    </Router>
</CascadingAuthenticationState>

@* Preload is dismissed by MainLayout once auth is resolved *@
