@inherits LayoutComponentBase

<div class="auth-layout">
    <div class="auth-layout__content">
        @Body
    </div>
</div>

<HeadContent>
    <link rel="modulepreload" href="@Assets["_framework/blazor.web.js"]" />
</HeadContent>
