@namespace K7.Clients.Shared.UI.Components.Forms

<label class="k7-switch-wrap @Class">
    <input type="checkbox"
           checked="@Value"
           disabled="@Disabled"
           @onchange="OnChange" />
    <span class="k7-switch-track">
        <span class="k7-switch-thumb"></span>
    </span>
    @if (!string.IsNullOrEmpty(Label))
    {
        <span class="k7-label" style="margin-bottom:0;">@Label</span>
    }
</label>
