:root {
    --background-picture: url("");
}

::deep p.mud-typography.mud-typography-body1.overview-collapsed,
.overview-collapsed,
::deep .overview-collapsed,
::deep .overview-container .overview-collapsed {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--background-picture);
    z-index: -1;
    inset: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

    .background:before {
        content: '';
        /*background-image: linear-gradient(to top, var(--mud-palette-background) 0%, var(--mud-palette-background) 50%, rgba(255,255,255,0) 125%);*/
        background-image: radial-gradient(at top, rgba(255,255,255,0) 0%, var(--mud-palette-background) 60%, var(--mud-palette-background) 100%);
        position: absolute;
        height: 100%;
        right: 0;
        bottom: 0;
        left: 0;
    }
