@page "/admin/general"
@layout AdminLayout
@inject IStringLocalizer<AdminGeneralPanel> L

@if (_isLoading)
{
    <K7ProgressBar Indeterminate="true" />
}
else
{
    <div class="d-flex flex-col pa-4">
        <div>
            <K7LanguageSelect Value="@_defaultLanguage" ValueChanged="OnDefaultLanguageChanged" Label="@L["DefaultLanguage"]" Languages="SupportedLanguages.Interface" />
            <span class="text-caption mt-1" Color="secondary">@L["DefaultLanguageHelp"]</span>
        </div>
    </div>
}
