.mobile-footer .application-logo {
    width: var(--mobile-footer-height);
    height: var(--mobile-footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-footer .mobile-footer-button {
    width: var(--mobile-footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--mobile-footer-height);
}