@namespace K7.Clients.Shared.UI.Components.Complex

<button type="button"
        class="k7-menu-item @Class"
        role="menuitem"
        disabled="@Disabled"
        @onclick="OnItemClick">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <i class="ph ph-@Icon"></i>
    }
    @ChildContent
</button>
